.t-box {
  padding: 20px;
  margin-left: 0;
  list-style-type: none;
  li {
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
    margin-bottom: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 1px -1px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: inset 1px -1px 1px rgba(0, 0, 0, 0.38);
    box-shadow: inset 1px -1px 1px rgba(0, 0, 0, 0.38);
    span {
      font-weight: bold;
    }
  }
}